@media screen and (max-width: 576px) {

    .header_bar {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header__container {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Only if you want it vertically center-aligned as well */
        /* background: #ccc; */
    }

    .header_title {
        margin-right: 10px;
    }

    .header_bar__img {
        width: 30px;
        border-radius: 50%;
    }

    .header_logout {
        margin-left: 10px;
    }


}